[submodule "submodules/auto-fu.zsh"]
	path = submodules/auto-fu.zsh
	url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule "submodules/powerline"]
	path = submodules/powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "submodules/z"]
	path = submodules/z
	url = git://github.com/rupa/z.git
[submodule "submodules/zaw"]
	path = submodules/zaw
	url = git://github.com/zsh-users/zaw.git
[submodule "submodules/zsh-completions"]
	path = submodules/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/grunt-zsh-completion"]
	path = submodules/grunt-zsh-completion
	url = git://github.com/yonchu/grunt-zsh-completion.git
